body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

header {
    top: 0%;
    background-image: linear-gradient(to top, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    padding: 20px;
    text-align: center;
    color: #f3eded;
    position: fixed;
    width: 100%;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 100px auto 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.photo {
    height: 200px;
}